*{
    padding: 0;
    margin: 0;
}
#wz{
    width: 750px;
    height: 858px;
    background: #f2f2f2;
    margin: auto;
    position: relative;
    #bj{
        width:752px;
        height: 180px;
        background: #29A6DC;
        margin-bottom: 0;
        position: relative;
        .jiantou{
           position: absolute;
           left: 20px;
           top: 10px;
        }
        span{
            font-size: 35px;
            color: white;
            margin-left:320px;
            top: 15px;
            position: absolute;
        }
     }      
        
 
    #zikuan{
         width:752px;
         height: 30px;
         text-align: center;
         line-height: 30px;
         margin-top: 20px;
          span{
        
        color: #344082;
//      position: absolute;
//      top: 0;
//      left:100px;
         
         
    }
    } 
    #zikuang{
        width: 752px;
        height: 30px;

         line-height: 30px;
         position: relative;
         span{
        
        color: #344082;
        margin-right: 100px;
        position: absolute;
        right: 0;
            }
    }
#kuang{
    width: 618px;
    height: 88px;
margin-top: 30px;
        margin-left:60px;
    position: relative;
      background: url(../images/9.png);
   input{
       position: absolute;
       left: 120px;
       top: 25px;
       font-size: 30px;
       border: 0;
       
   }
}
#pass{
    width: 618px;
    height: 88px;
margin-top: 30px;
        margin-left:60px;
    position: relative;
      background: url(../images/2.png);
   input{
       position: absolute;
       left: 120px;
       top: 25px;
       font-size: 30px;
       border: 0;
       
   }
} 
.key{

top: 680px;
  left: 110px;
    position: absolute;
 }   
 .a{
      top: 680px;
  left: 150px;
  position: absolute;
   } 

 .keyy{

top: 680px;
  right: 190px;
    position: absolute;
 }   
     #a{
      top: 680px;
  right: 110px;
  position: absolute;
   } 
.di{
   padding-left: 90px;
    margin:80px auto;
}
}
