<div>
		<div id="header-nine">
			<div class="navigation">
				<a href="#" class="topLeft">
					<span class="ch">精选</span>
					<span class="en">SELECTED</span>
				</a>
				<a href="#" class="topCenter">
					<span class="ch">榜单</span>
					<span class="en">LIST</span>
				</a>
				<a href="#" class="topRight">
					<span class="ch">分类</span>
					<span class="en">CLASSIFY</span>
				</a>				
			</div>
			<a class="headerRight" href="#"></a>
		</div>
		
		
		<ul class="matter" ng-repeat="v in one">
			<li class="letter">
				<div class="tupian"></div>
				<span class="wlwx">{{v.name}}</span>
			</li>
			<li class="lis">
				<div class="title">·女士专区</div>
				<div class="this" ng-repeat="x in three">
					<a href="#Fashiondesign4">
					<div class="lei">{{x.name}}</div>
					</a>
				</div>
			</li>
			<li class="lis">
				<div class="title">·男士专区</div>
				<div class="this" ng-repeat="x in three">
					<div class="lei">{{x.name}}</div>
				</div>
			</li>
		</ul>
		

		
		<div id="footer-one">
			<a href="#/mybookshelf" class="bookrack">
				<span>书架</span>
			</a>
			<a href="javascript" class="bookCity">
				<span>书城</span>				
			</a>
			<a href="#/gerenzhonxin" class="personage">
				<span>我的</span>				
			</a>
		</div>
</div>